# Fichiers générés par les IDE
.idea/
*.iml
*.iws

# Fichiers générés par le build Java/Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build-number.properties

# Fichiers de log
*.log

# Fichiers générés par le build Node.js/React
frontend-app/node_modules/
frontend-app/build/
frontend-app/.pnp.*
frontend-app/.env
frontend-app/npm-debug.log*
frontend-app/yarn-debug.log*
frontend-app/yarn-error.log*

# Fichiers de données sensibles ou spécifiques à l'environnement
# IMPORTANT: On ignore le dossier qui contient la base de données de Keycloak
/keycloak-data/

# Fichiers système (Mac, Windows)
.DS_Store
Thumbs.db