/* src/pages/public/RegisterPage.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.register-form {
  background-color: #20232a; /* Fond de la carte */
  padding: 2rem 3rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Limite la largeur du formulaire */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.register-title {
  text-align: center;
  font-size: 2rem;
  color: #ecf0f1;
  margin-bottom: 2rem;
}

.form-grid {
  display: grid;
  gap: 1rem;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 12px;
  background-color: #2c3e50;
  border: 1px solid #556983;
  border-radius: 5px;
  color: #ecf0f1;
  font-size: 1rem;
  box-sizing: border-box;
  height: 50px;
}

.register-form input:focus,
.register-form select:focus {
  outline: none;
  border-color: #61dafb; /* Bleu React */
  box-shadow: 0 0 0 1px #61dafb;
}

.register-form button {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.register-form button:hover {
  background-color: #4fa8c5;
}

.register-message {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #aab8c2;
}