/* src/App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  padding: 2rem;
}

.main-content {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px; /* Donne une largeur maximale au contenu */
}